//Mediaqueries for devices
$breakPointTable: 700px;

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat',monospace;
  overflow-x: hidden;
}

.textNameContainer{
  display:none;
}

@media only screen and (max-width:500px){
  .svgContainer{
    display:none;
  }
  .textNameContainer{
    display:block;
    position:absolute;
    top:30%;
    left:50%;
    h1{
      text-transform: uppercase;
      position: relative;
      left:-50%;
    }
  }
}



.svgContainer{
    position: absolute;
    z-index: 3;
    width:60%;
    top: 20%;
    left:50%;
    opacity:1;

    
    
    #svgName{
      position:relative;
      left:-50%;
    }
}

section {
  display: grid;
  grid-template-columns: repeat(4, auto);

  div {
    background-color: white;
    transition: background-color 0.5s;
    height: 100vh;
  }

  @media only screen and (max-width: 500px) {
    div {
      height: 100vh;
    }
  }
}
.roleContainer
{
  position:absolute;
  top:40%;
  left:50%;
  #roleTag
  { 
    position:relative;
    left:-50%;
  }
 
}

#handcraftedSign{
  text-align: center;
  position: absolute;
  right:0;
  bottom:0;
  font-weight:bold;
  padding:1%;
  font-size: 0.8em;

  .material-icons{
    font-size: 2em;
  }
}

#gameOptionDiv{
  position: absolute;
  top:70%;
  left:35%;
  #gameOptionTag{
    position: relative;
    left: -50%;
    text-align: center;
    span{
      font-size: 3em;
    }
  }
}

#webOptionDiv{
  position: absolute;
  top:70%;
  left:65%;
  #webOptionTag{
    position: relative;
    left: -50%;
    text-align: center;
    span{
      font-size: 3em;
    }
  }
}